.App {
  text-align: center;
}

body{
  background-color:rgb(173, 255, 255);
}
.todo-container{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  padding-inline-start: 0;
  width: 90%;
  margin: 0 auto;
  margin: 30px auto;
}

.todo-card {
  width: 300px;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.26) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}